
body {
    font-family: Manrope;
    color: white;
}


.header-hero {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/pic.png);
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1060px;
    height: 86.1px;
    margin-left: 429px;
    padding: 16px;
    font-size: 16px;
    ;
}

.navigation {
    margin-bottom: 82px;
}

.navigation-list-img {
    margin-right: 59.2px;
}

a {
    text-decoration: none;
}

a:link {
color: #FFFFFFCC;
}

.navigation-list-tel {
    font-size: 20px;
}

.navigation-list-phone {
    padding: 18px 27px;
    background-color: #5BBFC8;
    border-radius: 10px;
    text-align: center
    ;
}

h1 {
    font-size: 64px;
    display: block;
    width: 905px;
    margin-left: 429px;
    margin-bottom: 9px;
    line-height: 80px;

}

.header-hero-about {
    font-size: 16px;
    line-height: 24.59px;
    font-weight: 400;
    display: block;
    width: 540px;
    margin-left: 429px;
    margin-bottom: 50px;
}

.header-choise {
    display: flex;
    justify-content: space-between;
    width: 1058px;
    margin-left: 429px;
}

.header-hero-call {
    display: block;
    color: black;
    width: 250px;
    height: 66px;
    background-color: #FFD200;
    border-radius: 10px;
    text-align: center;
    margin-left: 429px;
    margin-bottom: 85px;
}

.repair-whels {
    background-image: url(../img/pic2.jpg);
    border-radius: 10px;
    width: 412px;
    height: 288px;
}

.car { 
    width: 204px;
    height: 288px;
    background-color: #FFD200;
    border-radius: 10px;
}

.jeep {
    width: 205px;
    height: 288px;
    background-color: #4B5257;
    border-radius: 10px;
}

.truck {
    border-radius: 10px;
    width: 205px;
    background-color: #5BBFC8;
}