
body {
    font-family: Manrope;
    color: white;
}


.header {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/pic.png);
    background-repeat: no-repeat;
}


.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1060px;
    height: 86.1px;
    margin-left: 420px;
    padding: 16px;
    font-size: 16px;
    font-weight: 800;
}

.navigation {
    margin-bottom: 82px;
}

.navigation__logo {
    margin-right: 59.2px;
}

.link {
    text-decoration: none;
}

.navigation__tel {
    font-size: 20px;
    color: black;
}

.navigation-list__phone {
    padding: 18px 27px;
    background-color: #5BBFC8;
    border-radius: 10px;
    text-align: center;
}

.header__title {
    font-size: 64px;
    font-weight: 800;
    display: block;
    width: 905px;
    margin-left: 429px;
    margin-bottom: 9px;
    line-height: 80px;
    text-transform: uppercase;
}

.header__about {
    font-size: 16px;
    line-height: 24.59px;
    font-weight: 400;
    display: block;
    width: 540px;
    margin-left: 429px;
    margin-bottom: 50px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    width: 1058px;
    margin-left: 429px;
    margin-bottom: 91px;
}

.header-hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 66px;
    background-color: #FFD200;
    border-radius: 10px;
    text-align: center;
    font-weight: 800;
    margin-left: 429px;
    margin-bottom: 85px;
}

.header-hero__img {
    width: 33px;
    height: 33px;
}

.header-hero__link {
    color: black;
    font-size: 16px;
}

.header-row__block {
    border-radius: 10px;
    height: 288px;
    display: flex;
    flex-direction: column;
}

.repair-whels {
    background-image: url(../img/pic2.jpg);
    width: 412px;
    color: black;
}

.repair-whels__title {
    font-size: 30px;
    line-height: 41px;
    font-weight: 800;
    margin-bottom: 60px;
    margin-top: 66px;
    margin-left: 44px;
    text-transform: uppercase;
    width: 344px;
    color: black;
}

.repair-whels__about {
    font-size: 16px;
    line-height: 22px;
    margin-left: 44px;
    
}


.car { 
    width: 204px;
    color: black;
    background-color: #FFD200;
    align-self: flex-start;
   
}

.car__price {
    background-color: #DEB905;
    color: #534407;
    width: 79px;
    padding: 8px 5px;
    border-radius: 4px;
    margin-left: 17px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    text-align: center;
}

.car__logo {
    margin-top: auto;
    margin-left: 17px;
}

.car_title {
    margin-left: 17px; 
}

.jeep {
    width: 205px;
    background-color: #4B5257;
    align-self: flex-start;
}

.jeep__price {
    background-color: #B0B0B0;
    color:  #FFFFFF;
    width: 79px;
    padding: 8px 5px;
    border-radius: 4px;
    margin-left: 17px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    text-align: center;
}

.jeep__logo {
    margin-top: auto;
    margin-left: 17px;
}

.jeep__title {
    margin-left: 17px;  
}

.truck {
    width: 205px;
    border-radius: 10px;
    color: black;
    background-color: #5BBFC8;
    align-self: flex-start;
}

.truck__price {
    background-color:  #49A1A9;
    color:  #1E4D54;
    width: 79px;
    padding: 8px 5px;
    border-radius: 4px;
    margin-left: 17px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    text-align: center;  
}

.truck__logo {
    margin-top: auto;
    margin-left: 17px; 
}

.truck__title {
    margin-left: 17px; 
}

.main-lawyer h2 {
text-align: center;
color: black;
font-size: 45px;
line-height: 55px;
}

.main-lawyer p {
    text-align: center;
    color: black;  
    text-transform: uppercase;
}
/*